.smart-lighting-cover
  background url("../img/backgrounds/smart-lighting-cover.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 492px

.decoration-yellow.lighting-decorator-yellow
  left -16px
  position absolute
  width 4px

.smart-lighting-second-section
  background url("../img/backgrounds/smart-lighting-bg-1.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  align-items center
  padding 54px 0 54px 0

.smart-lighting-panel-img
  height 495px
  width 314px

/*Third section*/

.smart-lighting-third-section-title-container
  margin 64px 0 70px 0

.smart-lighting-floating-card
  background-color #fff
  box-shadow 0 2px 13px 0 rgba(0, 0, 0, 0.24)
  display flex
  flex-direction row
  margin 7px auto 0 auto
  max-width 1129px

.smart-lighting-floating-card-bg-img
  bottom 0
  background url("../img/backgrounds/smart-lighting-bg-2.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 603px
  position absolute
  width 100%

.smart-lighting-floating-card-info-container
  display flex
  flex-direction column
  justify-content center
  padding 46px 100px 40px 87px
  width 765px

.smart-lighting-floating-card-title
  color #353436
  font-size remify(30px)

.smart-lighting-floating-card-description-container
  margin-top 25px

.smart-lighting-floating-card-description
  color #4a4a4a
  font-size remify(16px)
  line-height 28px

.smart-lighting-floating-card-separator
  background-color #e9e9e9
  height 1px
  margin 39px 0
  width 100%

.smart-lighting-floating-card-subtitle
  color #353436
  font-size remify(24px)

.benefits-cards-wrapper
  display flex
  flex-wrap wrap
  margin-top 35px

.benefits-card-container
  background-color #ffffff
  box-shadow 0 2px 15px 0 rgba(0, 0, 0, 0.17)
  height 154px
  margin-bottom 20px
  position relative
  width 274px

.benefits-card-container:nth-child(1),
.benefits-card-container:nth-child(3)
  margin-right 30px

.benefits-card-yellow-line
  background-color #fecc00
  bottom 0
  left 0
  position absolute
  top 0
  width 7px

.benefits-card-content
  padding 20px 23px 0 32px

.benefits-card-description
  color #4a4a4a
  font-size remify(13px)
  line-height 19px

.smart-lighting-floating-card-img-container,
.smart-lighting-floating-card-img
  height 747px
  width 364px

.owl-theme .owl-nav.disabled + .owl-dots
  margin-top 40px

.owl-theme .owl-dots .owl-dot span
  height 16px
  width 16px

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
  background-color #b7df8c
