.safe-cities-cover
  background url('../img/backgrounds/safe-cities-cover.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 492px

/**First section*/

.safe-cities-first-section
  align-items center
  background url('../img/backgrounds/safe-cities-bg-1.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  height 590px

.safe-cities-first-section-img-container
  height 426px
  margin-left 90px
  width 490px

.safe-cities-first-section-img
  height 426px
  width 490px

.safe-cities-subtitle-container
  margin-top 26px

.safe-cities-subtitle
  color #353436
  font-size remify(30px)
  line-height 41px

/*Second section*/

.safe-cities-second-section
  height auto
  position relative

.safe-cities-second-section-paragraph-container
  align-items center
  display flex
  height 350px
  margin 0 auto
  max-width 810px

.safe-cities-second-section-paragraph
  color #4a4a4a
  font-size remify(21px)
  line-height 35px
  text-align center

.safe-cities-second-section-background
  background url('../img/backgrounds/safe-cities-bg-2.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 284px

.cities-card-container
  bottom 77px
  display flex
  flex-wrap wrap
  left 0
  margin 0 auto
  max-width 1085px
  position absolute
  right 0

.public-transport-card-content.cities-card-content
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px
  width 220px

.cities-card-content:nth-child(2)
  margin-right 43px

.public-transport-card-icon-container.cities-card-icon-container
  height 112.5px

.cities-icon
  &-1
    height 66px

  &-2
    height 66px

  &-3
    height 58px

  &-4
    height 64px

.cities-card-title-container
  background-color #0d5380
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  display flex
  height 131px
  padding 18.5px 23px 0 16px

.cities-card-text-decorator
  background-color #fecc00
  height 14px
  margin-right 11px
  width 3px

.public-transport-card-text-container
  margin-top -2px

.cities-card-text
  color #fff
  font-size remify(15px)

/*Third section*/

.safe-cities-third-section
  display flex
  flex-direction row

.safe-cities-third-section-text-container
  padding 0 24% 0 0

.soluciones-first-description-container.safe-cities-third-section-description-container
  margin-top 40px

.safe-cities-third-section-panel
  background-color #f1f1f1
  height 563px
  width 443px
  position relative

.safe-cities-third-section-img-container
  bottom 80px
  height 273px
  position absolute
  right 70px
  width 443px

.safe-cities-third-section-img
  height 273px
  width 443px

/*Fourth section*/

.safe-cities-fourth-section
  background url('../img/safe-cities/safe-cities-video-img.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 465px

.public-transport-card-content-carousel
  display none

@media screen and (max-width 876px)
  .safe-cities-cover
    height 250px

  .safe-cities-first-section
    flex-direction column-reverse
    height auto
    padding 30px 0

  .safe-cities-first-section-img-container
    height auto
    margin 30px 0 0 0
    padding 0 30px
    width 100%

  .safe-cities-first-section-img
    height auto
    width 100%

  .safe-cities-subtitle
    font-size (15px)
    line-height 24px

  .safe-cities-second-section-paragraph-container
    height 190px
    padding 0 30px

  .safe-cities-second-section-paragraph
    font-size remify(16px)
    line-height 25px

  .safe-cities-second-section-background
    bottom 0
    position absolute
    width 100%

  .public-transport-card-content-carousel
    display block
    padding-bottom 30px

  .cities-card-container
    display none

  .cities-card-text
    font-size remify(17px)
    line-height 20px
    

  .safe-cities-third-section
    flex-direction column-reverse

  .safe-cities-third-section-panel
    height 270px
    width 250px

  .safe-cities-third-section-img-container
    height auto
    margin-top 55px
    position initial
    width 300px

  .safe-cities-third-section-img
    height auto
    width 300px

  .safe-cities-third-section
    .safe-cities-first-section-content-mobile
      padding 30px

  .safe-cities-third-section-text-container
    padding-right 0

  .safe-cities-fourth-section
    height 250px

@media screen and (min-width 877px) and (max-width 1100px)
  .safe-cities-first-section-img-container
    margin-left 40px

  .safe-cities-first-section-img
    height 300px
    width auto

  .safe-cities-first-section
    .energia-first-section-content
      padding 0 50px

@media screen and (min-width 877px) and (max-width 1098px)
  .cities-card-container
    max-width 532px

  .cities-card-content:nth-child(2)
    margin-right 0

  .safe-cities-second-section-background
    height 570px

@media screen and (min-width 877px) and (max-width 1070px)
  .safe-cities-third-section-panel
    width 230px

  .safe-cities-third-section-img-container,
  .safe-cities-third-section-img
    height 210px
    width 333px

  .safe-cities-third-section-img-container
    right 30px

  .energia-first-section-content
    .movilidad-sections-title
      line-height 40px