.energia-cover
  background url('../img/backgrounds/energia-sustentable-cover.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 492px

/*Energía Sustentable first section*/

.energia-first-section
  display flex
  flex-direction row
  height 425px

.energia-first-section-content
  display flex
  flex-direction column
  justify-content center
  padding 0 125px
  width 100%

.movilidad-first-description-container.soluciones-first-description-container
  max-width none
  position relative

.decoration-green.energia-decorator-green
  left -16px
  position absolute
  width 4px

.energia-first-section-img-container
  height 425px

.energia-first-section-img
  height 425px
  width auto

/*Energía sustentable Second section*/

.energia-second-section
  display flex
  flex-direction row
  height 585px

.energia-second-section-background-img
  align-items center
  background url('../img/backgrounds/energia-sustentable-bg-1.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  height 585px
  width 540px

.energia-second-section-img-container
  height 273px
  margin-left 166px
  width 443px

.energia-second-section-img
  height 273px
  width 443px

.energia-second-section-text-container
  display flex
  flex-direction column
  justify-content center
  padding 0 129px 0 168px

.energia-abb-logo-container
  align-self flex-start
  display flex
  height 42px
  margin-bottom 40px
  width 106px

.energia-abb-logo
  height 42px
  width 106px

/*Third section*/

.energia-third-section
  background url('../img/energia-sustentable/energia-sustentable-video-img.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 500px

@media screen and (max-width 876px)
  .energia-cover
    height 250px

  .energia-first-section
    flex-direction column
    height 240px
    justify-content center

  .energia-first-section-content
    padding 0 30px

  .energia-first-section-img-container
    display none

  .energia-second-section
    flex-direction column
    height auto

  .energia-second-section-background-img
    height 250px
    width 250px

  .energia-second-section-img-container
    height 160px
    margin-left 30px
    width 254px

  .energia-second-section-img
    height 160px
    width 254px

  .energia-second-section-text-container
    padding 30px

  .energia-third-section
    height 250px
