.smart-spaces-cover
  background-image url("../img/backgrounds/smart-spaces-cover.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 491px

/*Second section*/

.smart-spaces-second-section
  display flex
  flex-direction row
  height 700px

.smart-spaces-second-section-bg-img
  align-items center
  background-image url("../img/backgrounds/smart-spaces-bg-1.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  height 700px
  width 420px

.smart-spaces-img-1-container
.smart-spaces-img-1
  height 538px
  width 506px

.smart-spaces-img-1-container
  margin-left 55px

.smart-spaces-second-section-content
  padding 0 105px 0 249px

.smart-spaces-second-section-span
  font-size remify(23px)

/*Third section*/

.smart-spaces-third-section
  display flex
  flex-direction row
  height auto

.smart-spaces-third-section-text-container
  display flex
  flex-direction column
  justify-content center
  padding 0 190px 0 85px
  width 100%

.smart-spaces-third-section-panel
  align-items center
  background-image url("../img/backgrounds/smart-spaces-bg-2.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  height 1081px
  position relative
  width 500px

.smart-spaces-third-section-img-container
  bottom 0
  height 317px
  margin auto 0
  position absolute
  right 87px
  top 0
  width 350px

.smart-spaces-third-section-img
  height 317px
  width 350px

/*Fourth section*/

.smart-spaces-fourth-section
  background-image url("../img/backgrounds/smart-spaces-bg-3.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 800px
  position relative

.smart-spaces-fourth-section-mobile
  display none

.smart-spaces-fourth-section-floating-card
  align-items center
  background-color #fff
  bottom 0
  box-shadow 0 2px 11px 0 rgba(0, 0, 0, 0.23)
  display flex
  flex-direction column
  left 0
  margin 0 auto
  padding 98px 0 107px 0
  position absolute
  right 0
  width 1025px

.smart-spaces-fourth-section-title-container
  margin-bottom 60px
  width 750px

.smart-spaces-fourth-section-title
  color #353436
  font-size remify(34px)
  line-height 52px
  text-align center

.smart-spaces-cards-wrapper-mobile
  display none

.smart-spaces-card-container
  box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.19)
  display flex
  flex-direction row
  height auto
  width 685px

.smart-spaces-card-container:nth-child(2)
  margin 40px 0

.smart-spaces-card-bg
  background-position center
  background-repeat no-repeat
  background-size cover
  height 112px
  width 155px

.spaces-bg
  &-one
    background-image url("../img/smart-spaces/smart-spaces-img-3.jpg")

  &-two
    background-image url("../img/smart-spaces/smart-spaces-img-5.jpeg")
    
  &-three
    background-image url("../img/smart-spaces/smart-spaces-img-6.jpeg")

.smart-spaces-card-description-container
  padding 30px

.smart-spaces-adapt-card
  padding 15px 15px 15px 30px

.smart-spaces-card-description
  color #4a4a4a
  font-size remify(15px)
  line-height 26px

@media screen and (max-width 876px)
  .smart-spaces-cover
    height 200px

  .smart-spaces-second-section
    flex-direction column

  .smart-spaces-img-1-container
  .smart-spaces-img-1
    height 220px
    width 207px

  .smart-spaces-img-1-container
    margin-left 30px

  .smart-spaces-second-section-bg-img
    height 250px
    width 200px

  .smart-spaces-second-section-content
    padding 25px 35px

  .smart-spaces-third-section
    flex-direction column-reverse

  .smart-spaces-third-section-panel
    height 240px
    width 200px

  .smart-spaces-third-section-text-container
    padding 25px 35px
    
  .smart-spaces-third-section-img-container,
  .smart-spaces-third-section-img
    height 190px
    width 206px

  .smart-spaces-third-section-img-container
    left 50px
    right initial

  .smart-spaces-fourth-section
    display none

  .smart-spaces-fourth-section-mobile
    display block
    height auto
    padding 0 20px

  .smart-spaces-fourth-section-floating-card
    padding 0 0 20px 0
    position initial
    width 100%

  .smart-spaces-fourth-section-title-container
    margin 20px 20px 30px 20px
    width auto

  .smart-spaces-fourth-section-title
    font-size remify(30px)
    line-height 35px

  .smart-spaces-cards-wrapper
    display none

  .smart-spaces-cards-wrapper-mobile
    display block

  .smart-spaces-card-container
    flex-direction column
    margin 0 auto 25px auto
    width 240px

  .smart-spaces-card-bg
    height 100px
    width 100%

@media screen and (min-width 877px) and (max-width 950px)
  .smart-spaces-second-section,
  .smart-spaces-second-section-bg-img
    height auto

  .smart-spaces-img-1-container,
  .smart-spaces-img-1
    height 430px
    width 405px

  .smart-spaces-second-section-bg-img
    width 260px

  .smart-spaces-second-section-content
    padding 60px 80px 60px 249px

@media screen and (min-width 877px) and (max-width 920px)
  .movilidad-sections-title.smart-spaces-third-section-title
    line-height 40px

  .smart-spaces-third-section-panel
    height auto

  .smart-spaces-third-section-text-container
    padding-bottom 70px
    padding-top 40px

@media screen and (min-width 877px) and (max-width 1041px)
  .smart-spaces-fourth-section-floating-card
    margin 0 30px
    width auto
