.homepage-cover
  align-items center
  background url("../img/backgrounds/homepage-cover.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction column
  height 634px
  justify-content center

.homepage-cover-title
  color #fff
  font-size remify(50px)
  letter-spacing 0.4px
  line-height 53px
  margin 0 0 45px 0
  max-width 430px
  text-align center

.buton-green
  background-color #89cb44
  border none
  border-radius 100px
  color #fff
  font-size remify(13px)
  letter-spacing 0.5px
  padding 10px 22px
  
.homepage-second-cover
  align-items center
  background url("../img/backgrounds/background-yellow.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 592px
  position relative
  
.second-cover-card-layer
  background-color #fff
  border-radius 2px
  box-shadow 0 2px 14px 0 rgba(0, 0, 0, 0.21)
  left 0
  margin 0 auto
  position absolute
  right 0
  top -120px
  width 935px
  
.card-view-more-container
  display flex
  flex-wrap wrap
  justify-content center
  padding 45px
  
.card-view-more
  box-shadow 0 2px 14px 0 rgba(0, 0, 0, 0.25)
  height 185px
  margin 44px 30px
  position relative
  width 220px
  
.card-view-more-icon
  left 0
  height 108px
  margin 0 auto
  position absolute
  right 0
  top -50px
  width 108px

.card-view-more-icon-img
  height 108px
  width 108px
  
.card-view-more-banner
  background url("../img/backgrounds/card-banner.png")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 63px
  
.card-view-more-info-content
  align-items center
  display flex
  flex-direction column
  height 121px
  justify-content flex-end
  padding-bottom 20px
  
.card-view-more-title
  color #353436
  font-size remify(21px)
  margin 0 0 20px 0
  text-align center

.view-more-little-size-title
  font-size remify(16px)
  line-height 21px
  max-width 128px
  
.card-view-more-button
  background-color #fff
  border solid 1px #1a6aae
  border-radius 100px
  color #1a6aae
  font-size remify(13px)
  padding 6px 22px
  
.homepage-third-cover
  background url("../img/backgrounds/smart-city.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 336px
  margin-bottom 315px
  
.homepage-third-cover-content
  padding-top 55px

.homepage-smart-city-title
  color #353436
  font-size remify(38px)
  text-align center
  margin 0
  
.smarty-city-card-container
  display flex
  flex-wrap wrap
  justify-content center
  margin-top 80px
  
.smarty-city-card
  background-color #fff
  box-shadow 0 2px 13px 0 rgba(0, 0, 0, 0.29)
  margin 0 18px
  width 256px
  
.smart-city-banner
  align-items center
  background-color #edeced
  display flex
  height 142px
  justify-content center
  width 256px
  
.smart-city-banner-img
  &-bus
    height auto
    width 200px
    
  &-chair
    height auto
    width 140px
    
  &-sustainable
    height auto
    width 210px
    
  &-pedestrian
    height auto
    width 220px

.smarty-city-card-content
  align-items center
  display flex
  flex-direction column
  height 252px
  justify-content flex-end
  padding-bottom 26px

.smart-city-card-title
  color #353436
  font-size remify(15px)
  letter-spacing 1px
  line-height 21px
  text-align center
  text-transform uppercase

.smart-city-separator
  background-color #ffc600
  height 2px
  margin 15px 0 21px 0
  width 21px

.smart-city-description
  color #2f2e2f
  font-size remify(13px)
  line-height 22px
  margin 0 0 30px 0
  text-align center
  