.movilidad-cover
  background url('../img/backgrounds/movilidad-urbana-cover.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 634px

/*Movilidad First Section*/

.movilidad-first-section
  align-items center
  background url('../img/backgrounds/movilidad-urbana-bg-one.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  height 365px
  position relative

.movilidad-first-section-yellow-panel
  background-color #ffc700
  left 0
  height 100%
  position absolute
  top 0
  width 26px

.movilidad-first-section-content
  margin auto 0 auto 177px

.movilidad-first-description-container
  margin-top 26px
  max-width 506px

.movilidad-sections-title
  color #353436
  font-size remify(40px)
  line-height 27px

.movilidad-section-description
  color #4a4a4a
  font-size remify(19px)
  line-height 35px

/*Movilidad Second Section*/

.movilidad-second-section
  display flex
  flex-direction row
  height 860px

.movilidad-panel-image-container
  height 860px
  width auto

.movilidad-second-section-text-container
  padding 80px 85px 0 85px
  position relative

.movilidad-second-section-title-container
  margin-bottom 38px

.movilidad-second-section-info-container
  display flex
  flex-direction row
  margin 30px 0

.movilidad-second-section-line-info
  background-color #b7df8c
  height auto
  margin 0 30px 0 57px
  width 5px

.movilidad-second-section-info
  color #4a4a4a
  font-size remify(19px)
  line-height 27px

.movilidad-second-section-separator
  background-color #e8e8e8
  bottom 0
  left 0
  height 1px
  margin 0 85px
  position absolute
  right 0

/*Movilidad third section*/

.movilidad-third-section
  position relative

.movilidad-third-section-title-container
  margin 86px 0 210px 0

.public-transport-card-container
  display flex
  flex-wrap wrap
  left 0
  margin 0 auto
  max-width 962px
  position absolute
  right 0
  top 74px

.public-transport-card-content
  border-radius 5px
  background-color #fff
  box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.28)
  margin 21px 23px
  width 274px

.public-transport-card-icon-container
  align-items center
  display flex
  justify-content center
  height 140px

.public-transport-card-icon
  width auto !important

.public-icon
  &-1
    height 78px

  &-2
    height 79px

  &-3
    height 68px

  &-4
    height 68px

  &-5
    height 65px

  &-6
    height 64px

.public-transport-card-title-container
  align-items center
  background-color #004672
  display flex
  justify-content center
  height 74px

.public-transport-card-text
  color #fff
  font-size remify(24px)
  text-align center

.movilidad-third-section-bottom-bg
  background url('../img/backgrounds/movilidad-bg.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 431px

.movilidad-video-section
  background url("../img/movilidad-urbana/soluciones-video-img.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 497px

.public-transport-card-carousel
  display none

@media screen and (max-width 876px)
  .movilidad-cover
    height 250px

  .movilidad-first-section
    height auto
    padding 30px 30px 30px 0

  .movilidad-first-section-content
    margin-left 70px

  .movilidad-sections-title
    font-size remify(30px)

  .movilidad-section-description
    font-size remify(16px)
    line-height 26px

  .movilidad-second-section
    display initial

  .movilidad-panel-image-container
    display none

  .movilidad-panel-background-img
    background url("../img/movilidad-urbana/movilidad-urbana-panel.jpg")
    background-repeat no-repeat
    background-position center
    background-size cover
    height 200px

  .movilidad-second-section-text-container
    padding 50px 40px 0 40px

  .movilidad-second-section-line-info
    margin-left 30px

  .movilidad-second-section-info
    font-size remify(16px)

  .movilidad-second-section-separator
    bottom -30px
    margin 0 30px

  .movilidad-third-section-title-container
    margin 86px 30px 30px 30px

  .public-transport-card-container
    display none

  .public-transport-card-carousel
    display block

  .movilidad-third-section-bottom-bg
    height 210px
    margin-top -127px

  .movilidad-video-section
    height 200px