{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="about-us-wrapper">

    <div class="about-us-top-title-container">
      <h1 class="soluciones-top-title alianza-font-SourceSansPro-semi-bold no-margin-text">Acerca de nosotros</h1>
    </div>

    <div class="about-us-first-section">
      <div class="about-us-first-section-text-container">
        <h2 class="alianza-subtitle alianza-font-SourceSansPro-semi-bold no-margin-text">Alianza SweMex</h2>
        <div class="about-us-first-section-paragraph-container">
          <p class="about-us-first-sectio-paragraph alianza-font-SourceSansPro-regular no-margin-text">
            Hoy en día las ciudades demandan soluciones complejas e integradas en materia de movilidad, energía, telecomunicaciones y seguridad, entre otras, para desarrollar hacia ciudades inteligentes. Esa demanda crecerá aún más en los siguientes años. Para el desarrollo de proyectos innovadores dentro de esta área, las empresas de origen sueco <span class="alianza-font-SourceSansPro-semi-bold">Volvo Buses, Ericsson, ABB y Axis Communications</span>, con la facilitación del Consejo Sueco de Comercio e Inversión, <span class="alianza-font-SourceSansPro-semi-bold">Business Sweden</span>, han formado un grupo de colaboración denominado <span class="alianza-font-SourceSansPro-semi-bold">SweMex</span>.
          </p>
        </div>
      </div>
      <div class="">
        <img class="about-us-img-one" src="img/about-us/about-us-1.jpg">
      </div>
    </div>

    <div class="about-us-second-section">
      <div class="about-us-floating-card">
        <div class="about-us-img-one-two-container">
          <img class="about-us-img-one-two" src="img/about-us/about-us-2.jpg">
        </div>
        <div class="floating-card-background-img"></div>
        <div class="about-us-second-section-text-container">
          <div class="business-swe-logo-container">
            <img class="business-swe-logo" src="img/about-us/business-swe-logo.png">
          </div>
          <h2 class="alianza-subtitle alianza-font-SourceSansPro-semi-bold no-margin-text">Business Sweden</h2>
          <div class="about-us-second-section-paragrap-container">
            <p class="about-us-second-section-paragrap alianza-font-SourceSansPro-regular no-margin-text">
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
            </p>
          </div>
          <div>
            <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ir a Business Sweden</button>
          </div>
        </div>
      </div>
      <div class="about-us-second-section-bg-img"></div>
    </div>

    <div class="about-us-third-section">
      <div class="about-us-third-section-content">
        <div class="about-us-third-section-logo-container"></div>
        <div class="about-us-third-section-title-container">
          <h1 class="soluciones-top-title alianza-font-SourceSansPro-semi-bold no-margin-text">Empresas principales</h1>
        </div>
      </div>
      <div class="about-us-third-section-content">
        <div class="about-us-third-section-logo-container">
          <img class="abb-logo" src="img/about-us/abb-logo.png">
        </div>
        <div>
          <p class="about-us-second-section-paragrap alianza-font-SourceSansPro-regular no-margin-text">
            Es líder en tecnología pionera de productos de electrificación, robótica y movimiento, automatización industrial y redes eléctricas de potencia, que atiende a clientes de utilities (servicios públicos), industria y transporte e infraestructura a nivel global. Continuando más de 125 años de historia en innovación, ABB hoy escribe el futuro de la digitalización y dirige la Revolución Energética y la Cuarta Revolución Industrial. ABB opera en más de 100 países y cuenta con alrededor de 132 mil empleados.
          </p>
        </div>
      </div>
      <div class="about-us-third-section-separator"></div>
      <div class="about-us-third-section-content">
        <div class="about-us-third-section-logo-container">
          <img class="ericsson-logo" src="img/about-us/ericsson-logo.png">
        </div>
        <div>
          <p class="about-us-second-section-paragrap alianza-font-SourceSansPro-regular no-margin-text">
            Es líder global en la entrega de soluciones TIC, durante los últimos 140 años ha estado a la vanguardia de la tecnología de las comunicaciones. Con presencia en más de 180 países y soluciones integrales de la industria que van desde servicios en la nube, banda ancha móvil, diseño de redes y optimización, hasta soluciones de ciudades sostenibles inteligentes. Con cerca del 40% del tráfico móvil del mundo a través de las redes entregadas por Ericsson, le permite tener una perspectiva única en la transformación de negocios y redes. IoT, software e infraestructura - especialmente en redes y en la nube - están permitiendo a la industria en diferentes sectores hacer mejores negocios, aumentar la eficiencia, mejorar la experiencia del usuario y captar nuevas oportunidades.
          </p>
        </div>
      </div>
      <div class="about-us-third-section-separator"></div>
      <div class="about-us-third-section-content">
        <div class="about-us-third-section-logo-container">
          <img class="axis-logo" src="img/about-us/axis-logo.png">
        </div>
        <div>
          <p class="about-us-second-section-paragrap alianza-font-SourceSansPro-regular no-margin-text">
            Ha logrado conservar su liderazgo en video-vigilancia a lo largo de los años porque siempre cuestionan el estatus quo. Son expertos en el ramo enfocados en la I&amp;D y en la innovación, con ello buscan anticiparse a las necesidades del mercado, dar respuesta a cualquier novedad lo antes posible y ofrecer siempre la máxima calidad en todo lo que ejecutan. Axis apuesta por la investigación y el desarrollo les ha permitido crear productos absolutamente pioneros, como la primera cámara de red del mundo, el codificador de vídeo y las cámaras de red térmicas y HDTV. Compartir información e inteligencia es vital, porque conocimiento es poder. Por lo que trabajan en estrecha colaboración con sus socios atendiendo y escuchando a sus clientes, teniendo en cuenta sus necesidades y opiniones en cada desarrollo.
          </p>
        </div>
      </div>
      <div class="about-us-third-section-separator"></div>
      <div class="about-us-third-section-content">
        <div class="about-us-third-section-logo-container">
          <img class="volvo-logo" src="img/about-us/volvo-logo.png">
        </div>
        <div>
          <p class="about-us-second-section-paragrap alianza-font-SourceSansPro-regular no-margin-text">
            Es uno de los principales fabricantes de autobuses del mundo, con un fuerte enfoque en los vehículos y sistemas de transporte público sustentable a largo plazo. La gama de productos incluye soluciones de transporte completa, autobuses urbanos, autobuses interurbanos y foráneo, así como los servicios de financiamiento, mantenimiento de vehículos, diagnóstico de vehículos e información de tráfico. Volvo Buses es parte de Volvo Group, uno de los principales fabricantes mundiales de camiones, autobuses y máquinas de construcción, así como sistemas de propulsión para aplicaciones marinas e industriales. Volvo Group a 90 años de su fundación tiene presencia en más de 180 mercados y cuenta con alrededor de 100 mil empleados a nivel mundial.
          </p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}