{% extends "partials/base.njk" %}

{% block meta %}
  <title>Alumbrado Inteligente</title>
{% endblock %}

{% block content %}
  <div>
    <div class="smart-lighting-cover"></div>

    <div class="energia-first-section">
      <div class="energia-first-section-content">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Alumbrado inteligente</h1>
        <div class="movilidad-first-description-container soluciones-first-description-container">
          <div class="text-decorator decoration-yellow lighting-decorator-yellow"></div>
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Las poblaciones de las ciudades crecen por más de 7.500 personas por hora y el tráfico de datos móviles se espera que crezca 10 veces en 2019, aumentando la necesidad de iluminación sostenible y mayor capacidad y cobertura móvil en las ciudades.
          </p>
        </div>
      </div>
      <div class="energia-first-section-img-container">
        <img class="energia-first-section-img" src="img/smart-lighting/smart-lighting-1.jpg">
      </div>
    </div>

    <div class="smart-lighting-second-section">
      <div>
        <img class="smart-lighting-panel-img" src="img/smart-lighting/smart-lighting-2.png">
      </div>
      <div class="movilidad-panel-background-img"></div>
      <div class="movilidad-second-section-text-container">
        <div class="">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Nuestra solución de modelos Zero Site son soluciones de multi-aplicación para alumbrado público que apoyan a los municipios y empresas de energía a obtener nuevos ingresos a partir del arrendamiento de sitios de telecomunicaciones e instalando iluminación LED para satisfacer sus metas de sostenibilidad.
          </p>
        </div>
        <div class="movilidad-second-section-info-container">
          <div class="movilidad-second-section-line-info"></div>
          <p class="movilidad-second-section-info alianza-font-SourceSansPro-bold-italic no-margin-text">
            La solución también permite que los operadores de red para satisfacer la demanda de conectividad de los ciudadanos de todo el mundo a todo.
          </p>
        </div>
        <div class="">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            El Zero Site acelera el tiempo de amortización para el establecimiento de la infraestructura de la ciudad, haciendo que los costos iniciales de instalación y administración de sistemas sean más asequibles, reduciendo así la presión sobre los presupuestos municipales.  La solución ofrece a los funcionarios de la ciudad una forma innovadora para integrar las luces LED en el mismo polo para proporcionar ahorros de energía, que representa alrededor de 50-80 por ciento de los gastos operativos en una ciudad.
          </p>
        </div>
      </div>
    </div>

    <div class="movilidad-third-section">
      <div class="smart-lighting-third-section-title-container">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text" style="text-align: center;">Las soluciones</h1>
      </div>
      
      <div style="padding-bottom: 80px; top: 0;">
        <div class="smart-lighting-carousel owl-carousel owl-theme">
          <div>
            <div class="smart-lighting-floating-card">
              <div class="smart-lighting-floating-card-info-container">
                <div>
                  <h2 class="smart-lighting-floating-card-title alianza-font-SourceSansPro-semi-bold no-margin-text">El Sitio Lightpole</h2>
                </div>
                <div class="smart-lighting-floating-card-description-container">
                  <p class="smart-lighting-floating-card-description alianza-font-SourceSansPro-regular no-margin-text">
                    Este es un modelo de aplicaciones múltiples para mejorar la conectividad y alumbrado sostenible e inteligente dentro de las zonas urbanas. La solución es rentable, tiene un corto tiempo de implantación que permite el despliegue de un sistema de alumbrado en una ciudad fácilmente y de forma masiva.
                  </p>
                </div>
                <div class="smart-lighting-floating-card-separator"></div>
                <h3 class="smart-lighting-floating-card-subtitle alianza-font-SourceSansPro-semi-bold no-margin-text">Beneficios</h3>
                <div class="benefits-cards-wrapper">
                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Facilita la adquisición de sitios en entornos urbanos densos.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Opera como green field para despliegue en áreas restringidas y como un poste de luz inteligente para nuevos desarrollos urbanos.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Aborda las necesidades crecientes para mejorar la cobertura de red y el alumbrado público sostenible.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Oculta las unidades de controles remotos de radio y antenas dentro del poste y macro radios, unidades de banda base, equipos de transmisión, capacidad extra, potencia, baterías y equipos adicionales debajo.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- MOBILE VERSION-->
                <div class="smart-lighting-benefits-cards-carousel">
                  <div class="smart-lighting-benefits-carousel owl-carousel">
                    <div class="smart-lighting-benefits-carousel-container">
                      <div class="benefits-card-container">
                        <div class="benefits-card-yellow-line"></div>
                        <div class="benefits-card-content">
                          <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                            Facilita la adquisición de sitios en entornos urbanos densos.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="smart-lighting-benefits-carousel-container">
                      <div class="benefits-card-container">
                      <div class="benefits-card-yellow-line"></div>
                      <div class="benefits-card-content">
                        <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                          Opera como green field para despliegue en áreas restringidas y como un poste de luz inteligente para nuevos desarrollos urbanos.
                        </p>
                      </div>
                    </div>
                    </div>

                    <div class="smart-lighting-benefits-carousel-container">
                      <div class="benefits-card-container">
                      <div class="benefits-card-yellow-line"></div>
                      <div class="benefits-card-content">
                        <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                          Aborda las necesidades crecientes para mejorar la cobertura de red y el alumbrado público sostenible.
                        </p>
                      </div>
                    </div>
                    </div>

                    <div class="smart-lighting-benefits-carousel-container">
                      <div class="benefits-card-container">
                      <div class="benefits-card-yellow-line"></div>
                      <div class="benefits-card-content">
                        <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                          Oculta las unidades de controles remotos de radio y antenas dentro del poste y macro radios, unidades de banda base, equipos de transmisión, capacidad extra, potencia, baterías y equipos adicionales debajo.
                        </p>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- END MOBILE VERSION -->
              </div>
              <div class="smart-lighting-floating-card-img-container">
                <img class="smart-lighting-floating-card-img" src="img/smart-lighting/smart-lighting-3.jpg">
              </div>
              <div class="smart-lighting-floating-card-background-img"></div>
            </div>
          </div>

          <div>
            <div class="smart-lighting-floating-card">
              <div class="smart-lighting-floating-card-info-container">
                <div>
                  <h2 class="smart-lighting-floating-card-title alianza-font-SourceSansPro-semi-bold no-margin-text">El Sitio Lightpole</h2>
                </div>
                <div class="smart-lighting-floating-card-description-container">
                  <p class="smart-lighting-floating-card-description alianza-font-SourceSansPro-regular no-margin-text">
                    Este es un modelo de aplicaciones múltiples para mejorar la conectividad y alumbrado sostenible e inteligente dentro de las zonas urbanas. La solución es rentable, tiene un corto tiempo de implantación que permite el despliegue de un sistema de alumbrado en una ciudad fácilmente y de forma masiva.
                  </p>
                </div>
                <div class="smart-lighting-floating-card-separator"></div>
                <h3 class="smart-lighting-floating-card-subtitle alianza-font-SourceSansPro-semi-bold no-margin-text">Beneficios</h3>
                <div class="benefits-cards-wrapper">
                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Facilita la adquisición de sitios en entornos urbanos densos.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Opera como green field para despliegue en áreas restringidas y como un poste de luz inteligente para nuevos desarrollos urbanos.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Aborda las necesidades crecientes para mejorar la cobertura de red y el alumbrado público sostenible.
                      </p>
                    </div>
                  </div>

                  <div class="benefits-card-container">
                    <div class="benefits-card-yellow-line"></div>
                    <div class="benefits-card-content">
                      <p class="benefits-card-description alianza-font-SourceSansPro-regular no-margin-text">
                        Oculta las unidades de controles remotos de radio y antenas dentro del poste y macro radios, unidades de banda base, equipos de transmisión, capacidad extra, potencia, baterías y equipos adicionales debajo.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="smart-lighting-floating-card-img-container">
                <img class="smart-lighting-floating-card-img" src="img/smart-lighting/smart-lighting-3.jpg">
              </div>
              <div class="smart-lighting-floating-card-background-img"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="smart-lighting-floating-card-bg-img"></div>
    </div>
  </div>
{% endblock %}