{% extends "partials/base.njk" %}

{% block meta %}
  <title>Ciudades Seguras</title>
{% endblock %}

{% block content %}
  <div>
    <div class="safe-cities-cover"></div>

    <div class="safe-cities-first-section">
      <div class="safe-cities-first-section-img-container">
        <img class="safe-cities-first-section-img" src="img/safe-cities/safe-cities-img-1.png">
      </div>
      <div class="energia-first-section-content">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Ciudades seguras</h1>
        <div class="safe-cities-subtitle-container">
          <h2 class="safe-cities-subtitle alianza-font-SourceSansPro-semi-bold no-margin-text">Pequeños pasos para construir una ciudad más segura</h2>
        </div>
        <div class="movilidad-first-description-container soluciones-first-description-container">
          <div class="text-decorator decoration-green energia-decorator-green"></div>
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Garantizar la seguridad es una de las principales misiones de cualquier ciudad, porque sentirse seguro es uno de los derechos irrenunciables de cualquier ciudadano. Pero a medida que la población crece y las ciudades afrontan nuevos desafíos, como el impacto ambiental, la actividad delictiva y los recortes presupuestarios, crear una ciudad realmente segura es cada vez más complicado.
          </p>
        </div>
      </div>
    </div>

    <div class="safe-cities-second-section">
      <div class="safe-cities-second-section-paragraph-container">
        <p class="safe-cities-second-section-paragraph alianza-font-SourceSansPro-semi-bold no-margin-text">
          Con la implementación de su sistema de vigilancia digital integrado, podrá ver qué pasa en todos los rincones de su ciudad en vivo. Los equipos pueden actuar como sensores, ofreciéndole información en tiempo real que puede ayudarle a:
        </p>
      </div>
      <div class="safe-cities-second-section-background"></div>
      <div class="cities-card-container">
        <div class="public-transport-card-content cities-card-content">
          <div class="public-transport-card-icon-container cities-card-icon-container">
            <img class="public-transport-card-icon cities-icon-1" src="img/safe-cities/safe-cities-clock-icon.png">
          </div>
          <div class="cities-card-title-container">
            <div class="cities-card-text-decorator"></div>
            <div class="public-transport-card-text-container">
              <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                Reducir el tiempo de las investigaciones criminales gracias a imágenes claras y de alta calidad
              </p>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content cities-card-content">
          <div class="public-transport-card-icon-container cities-card-icon-container">
            <img class="public-transport-card-icon cities-icon-2" src="img/safe-cities/safe-cities-security-icon.png">
          </div>
          <div class="cities-card-title-container">
            <div class="cities-card-text-decorator"></div>
            <div class="public-transport-card-text-container">
              <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                Disuadir a los vándalos y reducir los gastos de reparación
              </p>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content cities-card-content">
          <div class="public-transport-card-icon-container cities-card-icon-container">
            <img class="public-transport-card-icon cities-icon-3" src="img/safe-cities/safe-cities-check-icon.png">
          </div>
          <div class="cities-card-title-container">
            <div class="cities-card-text-decorator"></div>
            <div class="public-transport-card-text-container">
              <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                Optimizar los servicios y mejorar la experiencia en la ciudad
              </p>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content cities-card-content">
          <div class="public-transport-card-icon-container cities-card-icon-container">
            <img class="public-transport-card-icon cities-icon-4" src="img/safe-cities/safe-cities-camera-icon.png">
          </div>
          <div class="cities-card-title-container">
            <div class="cities-card-text-decorator"></div>
            <div class="public-transport-card-text-container">
              <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                Proteger de forma más efectiva a sus ciudadanos y las instalaciones de la ciudad
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="public-transport-card-content-carousel">
        <div class="safe-cities-carousel owl-carousel">
          <div class="public-transport-card-content cities-card-content">
            <div class="public-transport-card-icon-container cities-card-icon-container">
              <img class="public-transport-card-icon cities-icon-1" src="img/safe-cities/safe-cities-clock-icon.png">
            </div>
            <div class="cities-card-title-container">
              <div class="cities-card-text-decorator"></div>
              <div class="public-transport-card-text-container">
                <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                  Reducir el tiempo de las investigaciones criminales gracias a imágenes claras y de alta calidad
                </p>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content cities-card-content">
            <div class="public-transport-card-icon-container cities-card-icon-container">
              <img class="public-transport-card-icon cities-icon-2" src="img/safe-cities/safe-cities-security-icon.png">
            </div>
            <div class="cities-card-title-container">
              <div class="cities-card-text-decorator"></div>
              <div class="public-transport-card-text-container">
                <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                  Disuadir a los vándalos y reducir los gastos de reparación
                </p>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content cities-card-content">
            <div class="public-transport-card-icon-container cities-card-icon-container">
              <img class="public-transport-card-icon cities-icon-3" src="img/safe-cities/safe-cities-check-icon.png">
            </div>
            <div class="cities-card-title-container">
              <div class="cities-card-text-decorator"></div>
              <div class="public-transport-card-text-container">
                <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                  Optimizar los servicios y mejorar la experiencia en la ciudad
                </p>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content cities-card-content">
            <div class="public-transport-card-icon-container cities-card-icon-container">
              <img class="public-transport-card-icon cities-icon-4" src="img/safe-cities/safe-cities-camera-icon.png">
            </div>
            <div class="cities-card-title-container">
              <div class="cities-card-text-decorator"></div>
              <div class="public-transport-card-text-container">
                <p class="cities-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">
                  Proteger de forma más efectiva a sus ciudadanos y las instalaciones de la ciudad
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /End Mobile version -->

    </div>

    <div class="safe-cities-third-section">
      <div class="energia-first-section-content safe-cities-first-section-content-mobile">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Pequeños pasos, grandes cambios</h1>
        <div class="safe-cities-third-section-text-container">
          <div class="movilidad-first-description-container soluciones-first-description-container safe-cities-third-section-description-container">
            <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
              Crear una ciudad más segura no tiene por qué ser un proyecto que requiera una enorme inversión de recursos y tiempo. Todas nuestras flexibles soluciones pueden integrarse en los sistemas analógicos existentes, por lo que no es necesario cambiar de golpe todos los equipos.
            </p>
          </div>
          <div class="movilidad-second-section-info-container">
            <div class="movilidad-second-section-line-info"></div>
            <p class="movilidad-second-section-info alianza-font-SourceSansPro-semi-bold-italic no-margin-text">
              En coordinación con la autoridad de transporte y los empresarios del transporte, SweMex entrega una solución completa garantizando tanto las inversiones como la operación y el mantenimiento de los activos involucrados.
            </p>
          </div>
        </div>
      </div>
      <div class="safe-cities-third-section-panel">
        <div class="safe-cities-third-section-img-container">
          <img class="safe-cities-third-section-img" src="img/safe-cities/safe-cities-img-2.png">
        </div>
      </div>
    </div>

    <div class="safe-cities-fourth-section"></div>

  </div>
{% endblock %}