{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="contact-wrapper">
    <div class="contact-first-section">
      <div class="contact-cover">
        <div class="contact-cover-text-container">
          <h1 class="contact-title alianza-font-SourceSansPro-semi-bold no-margin-text">Contacto</h1>
          <div class="contact-description-container">
            <h2 class="contact-description alianza-font-SourceSansPro-regular no-margin-text">Deja tus datos y te contactaremos</h2>
          </div>
        </div>
        <div class="contact-form-wrapper">
          <div class="contact-form-container">
            <div class="contact-form-container-top-section">
              <div>
                <h3 class="contact-form-container-text alianza-font-SourceSansPro-semi-bold no-margin-text">Envíanos tu mensaje</h3>
              </div>
              <div class="contact-icon-envelopes-container">
                <img class="contact-icon-envelopes" src="img/contact/contact-icon-envelopes.png">
              </div>
            </div>
            <form name="alianza-contact-form">
              <div class="group">
                <input class="contact-form-input-base" type="text" name="alianzacontactname" required>
                <span class="bar"></span>
                <label class="contact-form-label alianza-font-SourceSansPro-regular">Nombre</label>
              </div>
              <div class="group">
                <input class="contact-form-input-base"  type="text" name="alianzacontactphone" required>
                <span class="bar"></span>
                <label class="contact-form-label alianza-font-SourceSansPro-regular">Teléfono</label>
              </div>
              <div class="group">
                <input class="contact-form-input-base"  type="text" name="alianzacontactemail" required>
                <span class="bar"></span>
                <label class="contact-form-label alianza-font-SourceSansPro-regular">Correo electrónico</label>
              </div>
              <div class="group">
                <input class="contact-form-input-base"  type="text" name="alianzacontactmessage" required>
                <span class="bar"></span>
                <label class="contact-form-label alianza-font-SourceSansPro-regular">Mensaje</label>
              </div>
              <!--
              <div class="group">
                <select class="contact-form-input-base contact-form-select" name="alianzacontactcompany" required>
                  <option disabled selected>Selecciona</option>
                  <option class="alianza-font-SourceSansPro-regular">Empresa</option>
                </select>
                <span class="bar"></span>
              </div>
              -->
              <div class="contact-form-submit-container">
                <input class="contact-form-submit alianza-font-SourceSansPro-regular" type="submit" value="Enviar" name="">
              </div>
            </form>
          </div>
          <div class="contact-form-img-container">
            <img class="contact-form-img" src="img/contact/contact-form-img.jpg">
          </div>
          <div class="contact-form-background-img-mobile"></div>
        </div>
      </div>
    </div>

    <div class="contact-separator"></div>

    <div class="contact-second-section">
      <div class="contact-second-section-large-card">
        <div class="contact-business-logo-container">
          <img class="contact-business-logo" src="img/about-us/business-swe-logo.png">
        </div>
        <div class="contact-large-card-separator-container"></div>
        <div>
          <div>
            <h3 class="contact-large-card-title alianza-font-SourceSansPro-semi-bold no-margin-text">Bussines Sweden</h3>
          </div>
          <div class="contact-social-network-flex-row">
            <a href="https://twitter.com/BusinessSweMX" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-right">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-twitter.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">businessswedenmexico</p>
              </div>
            </a>
            <a href="https://linkedin.com/company/businessswedenmexico" target="_blank">
              <div class="contact-social-network-container">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-in.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">BussinessSweMex</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="contact-companies-wrapper">
        <div class="contact-companies-container">
          <div class="contact-companies-logo-container">
            <img class="contact-companies-logo-1" src="img/about-us/abb-logo.png">
          </div>
          <div class="contact-companies-card-container">
            <a href="https://twitter.com/abbmexico?lang=es" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-twitter.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @ABBMexico
                </p>
              </div>
            </a>
            <a href="https://www.facebook.com/ABBenMexico/" target="_blank">
              <div class="contact-social-network-container">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-facebook.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @ABBenMexico
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="contact-companies-container">
          <div class="contact-companies-logo-container">
            <img class="contact-companies-logo-2" src="img/about-us/axis-logo.png">
          </div>
          <div class="contact-companies-card-container contact-companies-card-container-variant">
            <a href="https://www.youtube.com/user/AxisCommunications?hl=es" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-youtube.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @AxisCommunications
                </p>
              </div>
            </a>
            <a href="https://twitter.com/axisipvideo" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-twitter.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @axispvideo
                </p>
              </div>
            </a>
            <a href="https://www.facebook.com/axiscommunications/" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-facebook.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @AxisCommunications
                </p>
              </div>
            </a>
            <a href="https://www.linkedin.com/company/Axis-Communications?trk=fc_badge" target="_blank">
              <div class="contact-social-network-container">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-in.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  Axis Communications
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="contact-companies-container">
          <div class="contact-companies-logo-container">
            <img class="contact-companies-logo-3" src="img/about-us/ericsson-logo.png">
          </div>
          <div class="contact-companies-card-container">
            <a href="https://www.instagram.com/inside_ericsson/" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-instagram.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @inside_ericsson
                </p>
              </div>
            </a>
            <a href="https://twitter.com/Ericsson" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-twitter.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @ericsson
                </p>
              </div>
            </a>
            <a href="https://www.facebook.com/ericsson/" target="_blank">
              <div class="contact-social-network-container">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-facebook.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @ericsson
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="contact-companies-container">
          <div class="contact-companies-logo-container">
            <img class="contact-companies-logo-4" src="img/about-us/volvo-logo.png">
          </div>
          <div class="contact-companies-card-container">
            <a href="" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-instagram.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @VolvoBusesMexico
                </p>
              </div>
            </a>
            <a href="https://twitter.com/volvobusesmex" target="_blank">
              <div class="contact-social-network-container social-nextwork-container-margin-bottom">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-twitter.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @volvobusesmex
                </p>
              </div>
            </a>
            <a href="https://www.facebook.com/VolvoBusesMexico/" target="_blank">
              <div class="contact-social-network-container">
                <div class="contact-social-network-icon-container">
                  <img class="contact-social-network-icon" src="img/contact/contact-icon-facebook.png">
                </div>
                <p class="contact-social-network-title alianza-font-SourceSansPro-regular no-margin-text">
                  @VolvoBusesMexico
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}