{% extends "partials/base.njk" %}

{% block meta %}
  <title>Energía Sustentable y Urbana</title>
{% endblock %}

{% block content %}
  <div>
    <div class="energia-cover"></div>

    <div class="energia-first-section">
      <div class="energia-first-section-content">
        <h1 class="movilidad-sections-title energy-title-mobile alianza-font-SourceSansPro-semi-bold no-margin-text">Energía Sustentable</h1>
        <div class="movilidad-first-description-container soluciones-first-description-container">
          <div class="text-decorator decoration-green energia-decorator-green"></div>
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Nuestro mundo está cambiando rápidamente y cada año nuestras demandas del planeta superan su capacidad de regeneración; la población mundial consume actualmente el equivalente a 1.6 planetas por año.
          </p>
        </div>
      </div>
      <div class="energia-first-section-img-container">
        <img class="energia-first-section-img" src="img/energia-sustentable/energia-sustentable-img-1.jpg">
      </div>
    </div>

    <div class="energia-second-section">
      <div class="energia-second-section-background-img">
        <div class="energia-second-section-img-container">
          <img class="energia-second-section-img" src="img/energia-sustentable/energia-sustentable-img-2.png">
        </div>
      </div>
      <div class="energia-second-section-text-container">
        <div>
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Queremos lograr más con menos recursos, con edificios inteligentes para una mayor eficiencia energética y con energías renovables para ayudar a proporcionar fuentes de energía más limpias. A medida que nuestras ciudades se expanden, podemos ayudar a reducir las emisiones con infraestructura para la movilidad de automóviles y autobuses eléctricos. En un mundo que depende cada vez más de la información, podemos ayudar a aumentar la eficiencia de los centros de datos, de modo que los dispositivos conectados que utilizan nuestras fábricas, nuestros hogares y nuestras ciudades mejoren la calidad de vida sin afectar al planeta en el que habitamos.
          </p>
        </div>
      </div>
    </div>

    <div class="energia-third-section"></div>
  </div>
{% endblock %}