{% extends "partials/base.njk" %}

{% block meta %}
  <title>Energía Sustentable y Urbana</title>
{% endblock %}

{% block content %}
  <div>
    <div class="smart-spaces-cover"></div>

    <div class="smart-spaces-second-section">
      <div class="smart-spaces-second-section-bg-img">
        <div class="smart-spaces-img-1-container">
          <img class="smart-spaces-img-1" src="img/smart-spaces/smart-spaces-img-1.png">
        </div>
      </div>
      <div class="smart-spaces-second-section-content energia-first-section-content">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Espacios inteligentes</h1>
        <div class="movilidad-first-description-container soluciones-first-description-container">
          <div class="text-decorator decoration-green energia-decorator-green"></div>
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            <span class="smart-spaces-second-section-span alianza-font-SourceSansPro-semi-bold">Transformación de las industrias</span><br>El crecimiento explosivo de las ciudades y la rápida expansión de la banda ancha y las TICs se cruzan en un momento en que el mundo se enfrenta a serios desafíos para lograr un desarrollo más sostenible. Ericsson ve el panorama más amplio, la sociedad conectada, donde la conectividad y tecnologías como la gran cantidad de datos, la tecnología de cloud computing, las redes inteligentes y el Internet de las cosas pueden habilitar las ciudades sostenibles del futuro
          </p>
        </div>
      </div>
    </div>

    <div class="smart-spaces-third-section">
      <div class="smart-spaces-third-section-text-container">
        <div class="movilidad-second-section-title-container">
          <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Parada de autobús conectado</h1>
        </div>
        <div class="">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            En entornos urbanos densos, tales como centros comerciales, negocios, lugares de entretenimiento y distritos financieros, la necesidad de datos y conectividad, a menudo está llegando al límite de su capacidad y muchas redes no pueden ofrecer altas velocidades de descarga.
          </p>
        </div>
        <div class="movilidad-second-section-info-container">
          <div class="movilidad-second-section-line-info"></div>
          <p class="movilidad-second-section-info alianza-font-SourceSansPro-bold-italic no-margin-text">
            La parada de autobús conecta la pequeña infraestructura celular y proporciona a los operadores de transporte público con una fuente de ingresos adicional, ya que la infraestructura puede ser arrendada a operadores móviles como medio de densificación de sus redes. Además de que el pasajero utiliza la banda ancha móvil en la parada de autobús conectado, este se beneficia de funcionalidades que son particularmente útil para sus viajes en el entorno urbano.
          </p>
        </div>
        <div class="">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Esto puede incluir pantallas que muestran información en tiempo real sobre los movimientos de autobuses y pantallas táctiles que proporcionan acceso a mapas interactivos, noticias locales, información turística y publicidad. Además, el circuito cerrado de televisión (CCTV), cámara, botón de pánico y función push-to-talk podría incorporarse para aumentar la seguridad facilitando a los viajeros el ponerse en contacto con los servicios de emergencia o la policía. 
          </p>
        </div>
      </div>
      <div class="smart-spaces-third-section-panel">
        <div class="smart-spaces-third-section-img-container">
          <img class="smart-spaces-third-section-img" src="img/smart-spaces/smart-spaces-img-2.png">
        </div>
      </div>
    </div>

    <div class="smart-spaces-fourth-section">
      <div class="smart-spaces-fourth-section-floating-card">
        <div class="smart-spaces-fourth-section-title-container">
        <h1 class="smart-spaces-fourth-section-title alianza-font-SourceSansPro-semi-bold no-margin-text">La solución permite los siguientes servicios y funcionalidades:</h1>
        </div>
        <div class="smart-spaces-cards-wrapper">
          <div class="smart-spaces-card-container">
            <div class="smart-spaces-card-bg spaces-bg-one"></div>
            <div class="smart-spaces-card-description-container">
              <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                Parada de autobús conectado que incorpora tecnologías de LTE, 3G o Wi-Fi en paraderos a través de tecnología de células pequeñas (small cells) que proporciona a los operadores de transporte público una fuente de ingresos adicional
              </p>
            </div>
          </div>

          <div class="smart-spaces-card-container">
            <div class="smart-spaces-card-bg spaces-bg-one"></div>
            <div class="smart-spaces-card-description-container">
              <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                También es compatible con la funcionalidad específica de cercanías como la información en tiempo real sobre los movimientos de autobuses, mapas interactivos, noticias locales e información turística
              </p>
            </div>
          </div>

          <div class="smart-spaces-card-container">
            <div class="smart-spaces-card-bg spaces-bg-three"></div>
            <div class="smart-spaces-card-description-container">
              <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                Otros conceptos incluyen información de tráfico, movilidad conectada y esquemas de movilidad como un servicio
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE VERSION -->
    <div class="smart-spaces-fourth-section-mobile">
      <div class="smart-spaces-fourth-section-floating-card">
        <div class="smart-spaces-fourth-section-title-container">
        <h1 class="smart-spaces-fourth-section-title alianza-font-SourceSansPro-semi-bold no-margin-text">La solución permite los siguientes servicios y funcionalidades:</h1>
        </div>
        <div class="smart-spaces-carousel owl-carousel">
          <div>
            <div class="smart-spaces-card-container">
              <div class="smart-spaces-card-bg spaces-bg-one"></div>
              <div class="smart-spaces-card-description-container">
                <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                  Parada de autobús conectado que incorpora tecnologías de LTE, 3G o Wi-Fi en paraderos a través de tecnología de células pequeñas (small cells) que proporciona a los operadores de transporte público una fuente de ingresos adicional
                </p>
              </div>
            </div>
          </div>

          <div>
            <div class="smart-spaces-card-container">
              <div class="smart-spaces-card-bg spaces-bg-one"></div>
              <div class="smart-spaces-card-description-container">
                <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                  También es compatible con la funcionalidad específica de cercanías como la información en tiempo real sobre los movimientos de autobuses, mapas interactivos, noticias locales e información turística
                </p>
              </div>
            </div>
          </div>

          <div>
            <div class="smart-spaces-card-container">
              <div class="smart-spaces-card-bg spaces-bg-three"></div>
              <div class="smart-spaces-card-description-container">
                <p class="smart-spaces-card-description alianza-font-SourceSansPro-regular no-margin-text">
                  Otros conceptos incluyen información de tráfico, movilidad conectada y esquemas de movilidad como un servicio
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MOBILE VERSION-->
  </div>
{% endblock %}
