{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div>
    <div class="homepage-cover">
      <h1 class="homepage-cover-title alianza-font-SourceSansPro-regular">Urbanización inteligente y segura</h1>
      <button class="button-green alianza-font-SourceSansPro-regular">Conoce más</button>
    </div>
    <div class="homepage-second-cover">
      <div class="second-cover-card-layer">
        <div class="card-view-more-container">

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/mobility-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Movilidad Urbana</h3>
              <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>
          
          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/energy-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Energía Sustentable</h3>
              <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/security-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Ciudades Seguras</h3>
              <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/lighting-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Alumbrado Inteligente</h3>
              <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/spaces-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Espacios Inteligentes</h3>
              <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="homepage-third-cover">
      <div class="homepage-third-cover-content">
        <h1 class="homepage-smart-city-title alianza-font-SourceSansPro-regular">¿Qué es una <span class="alianza-font-SourceSansPro-bold">ciudad inteligente</span>?</h1>
        <div class="smarty-city-card-container">

          <div class="smarty-city-card">
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-bus" src="img/homepage/smart-city-bus.png">
            </div>
            <div class="smarty-city-card-content">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Tránsito masivo eficiente</h3>
              <div class="smart-city-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">Lorem ipsum dolor sit amet, <span class="alianza-font-SourceSansPro-bold">consectetuer adipiscing elit</span> ean.</p>
              <button class="button-green alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-chair" src="img/homepage/smart-city-chair.png">
            </div>
            <div class="smarty-city-card-content">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Espacios seguros y agradables</h3>
              <div class="smart-city-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">Lorem ipsum dolor sit amet, <span class="alianza-font-SourceSansPro-bold">consectetuer adipiscing elit</span> ean.</p>
              <button class="button-green alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-sustainable" src="img/homepage/smart-city-sustainable.png">
            </div>
            <div class="smarty-city-card-content">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Energía sustentable y urbana</h3>
              <div class="smart-city-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">Lorem ipsum dolor sit amet, <span class="alianza-font-SourceSansPro-bold">consectetuer adipiscing elit</span> ean.</p>
              <button class="button-green alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-pedestrian" src="img/homepage/smart-city-pedestrian.png">
            </div>
            <div class="smarty-city-card-content">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Área peatonal segura</h3>
              <div class="smart-city-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">Lorem ipsum dolor sit amet, <span class="alianza-font-SourceSansPro-bold">consectetuer adipiscing elit</span> ean.</p>
              <button class="button-green alianza-font-SourceSansPro-regular">Ver más</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}