{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div>
    <div class="homepage-cover">
      <div class="homepage-cover-title-container">
        <h1 class="homepage-cover-title alianza-font-SourceSansPro-regular">Urbanización inteligente y segura</h1>
      </div>
      <a href="acerca-de-nosotros.html">
        <button class="button-green alianza-font-SourceSansPro-regular">Conoce más</button>
      </a>
    </div>
    <div class="homepage-second-cover">
      <div class="second-cover-card-layer">
        <div class="card-view-more-container">

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/soluciones/soluciones-icon-1.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <div class="card-view-more-title-container">
                <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Movilidad urbana</h3>
              </div>
              <a href="movilidad-urbana.html">
                <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
              </a>
            </div>
          </div>
          
          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/energy-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <div class="card-view-more-title-container">
                <h3 class="card-view-more-title alianza-font-SourceSansPro-regular view-more-energy-title">Energía sustentable y urbana</h3>
              </div>
              <a href="energia-sustentable.html">
                <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
              </a>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/soluciones/soluciones-icon-4.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <div class="card-view-more-title-container">
                <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Ciudades seguras</h3>
              </div>
              <a href="ciudades-seguras.html">
                <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
              </a>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/lighting-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <div class="card-view-more-title-container">
                <h3 class="card-view-more-title alianza-font-SourceSansPro-regular view-more-lighting-title">Alumbrado inteligente</h3>
              </div>
              <a href="alumbrado-inteligente.html">
                <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
              </a>
            </div>
          </div>

          <div class="card-view-more">
            <div class="card-view-more-icon">
              <img class="card-view-more-icon-img" src="img/homepage/spaces-card-icon.png">
            </div>
            <div class="card-view-more-banner"></div>
            <div class="card-view-more-info-content">
              <div class="card-view-more-title-container">
                <h3 class="card-view-more-title alianza-font-SourceSansPro-regular">Espacios inteligentes</h3>
              </div>
              <a href="espacios-inteligentes.html">
                <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
              </a>
            </div>
          </div>

        </div>

        <!-- Mobile version -->
        <div class="card-view-more-carousel-container">
          <div class="homepage-carousel-one owl-carousel">

            <div class="card-view-more">
              <div class="card-view-more-icon">
                <img class="card-view-more-icon-img" src="img/soluciones/soluciones-icon-1.png">
              </div>
              <div class="card-view-more-banner"></div>
              <div class="card-view-more-info-content">
                <div class="card-view-more-title-container">
                  <h3 class="card-view-more-title alianza-font-SourceSansPro-semibold">Movilidad urbana</h3>
                </div>
                <a href="movilidad-urbana.html">
                  <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
                </a>
              </div>
            </div>
            
            <div class="card-view-more">
              <div class="card-view-more-icon">
                <img class="card-view-more-icon-img" src="img/homepage/energy-card-icon.png">
              </div>
              <div class="card-view-more-banner"></div>
              <div class="card-view-more-info-content">
                <div class="card-view-more-title-container">
                  <h3 class="card-view-more-title alianza-font-SourceSansPro-semibold view-more-energy-title">Energía sustentable y urbana</h3>
                </div>
                <a href="energia-sustentable.html">
                  <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
                </a>
              </div>
            </div>

            <div class="card-view-more">
              <div class="card-view-more-icon">
                <img class="card-view-more-icon-img" src="img/soluciones/soluciones-icon-4.png">
              </div>
              <div class="card-view-more-banner"></div>
              <div class="card-view-more-info-content">
                <div class="card-view-more-title-container">
                  <h3 class="card-view-more-title alianza-font-SourceSansPro-semibold">Ciudades seguras</h3>
                </div>
                <a href="ciudades-seguras.html">
                  <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
                </a>
              </div>
            </div>

            <div class="card-view-more">
              <div class="card-view-more-icon">
                <img class="card-view-more-icon-img" src="img/homepage/lighting-card-icon.png">
              </div>
              <div class="card-view-more-banner"></div>
              <div class="card-view-more-info-content">
                <div class="card-view-more-title-container">
                  <h3 class="card-view-more-title alianza-font-SourceSansPro-semibold view-more-lighting-title">Alumbrado inteligente</h3>
                </div>
                <a href="alumbrado-inteligente.html">
                  <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
                </a>
              </div>
            </div>

            <div class="card-view-more">
              <div class="card-view-more-icon">
                <img class="card-view-more-icon-img" src="img/homepage/spaces-card-icon.png">
              </div>
              <div class="card-view-more-banner"></div>
              <div class="card-view-more-info-content">
                <div class="card-view-more-title-container">
                  <h3 class="card-view-more-title alianza-font-SourceSansPro-semibold">Espacios inteligentes</h3>
                </div>
                <a href="espacios-inteligentes.html">
                  <button class="card-view-more-button alianza-font-SourceSansPro-regular">Ver más</button>
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- /End Mobile version -->
      </div>
    </div>

    <div class="homepage-informative-section">
      <div class="informative-section-img-container">
        <img class="informative-section-img" src="img/homepage/informative-section-image.jpg">
      </div>
      <div class="informative-section-background-img"></div>
      <div class="informative-section-text-wrapper">
        <div class="text-decorator decoration-green informative-decorator-green"></div>
        <div class="informative-section-text-container">
          <p class="informative-section-text alianza-font-SourceSansPro-regular">
            “El crecimiento rápido y no planificado de las ciudades de América Latina ha generado una serie de desafíos que no pueden ser resueltos de manera tradicional: la inseguridad, la vulnerabilidad al cambio climático y desastres naturales, el aumento del número de vehículos que circulan en vías urbanas, el aumento del consumo energético, la contaminación ambiental, la gestión del agua y residuos, la necesidad de una mayor participación ciudadana y de mayor eficiencia en los servicios entre otros.”  (Banco Inter-Americano de Desarrollo).
          </p>
        </div>
      </div>
    </div>

    <div class="homepage-third-cover">
      <div class="homepage-third-cover-content">
        <div class="homepage-smart-city-title-container">
          <h1 class="homepage-smart-city-title alianza-font-SourceSansPro-regular">¿Qué es una <span class="alianza-font-SourceSansPro-bold">ciudad inteligente y segura</span>, y por qué nos urge su desarrollo?</h1>
        </div>
        <div class="smarty-city-card-container">

          <div class="smarty-city-card">
            <div class="smarty-city-full-description">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Tránsito<br>masivo eficiente</h3>
              <div class="smart-city-white-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">
                Transporte público de alta capacidad es crítico para una ciudad creciente. Lo ideal es un sistema de transporte público integrado, que da seguridad y es tanto cómodo como eficiente. Se trata de reemplazar vehículos anticuados por autobuses de bajas emisiones junto con una nueva infraestructura que incluye paraderos funcionales, pago electrónico/móvil, video vigilancia, conectividad e información al pasajero.
              </p>
            </div>
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-bus" src="img/backgrounds/movilidad-urbana-cover.png">
            </div>
            <div class="smarty-city-card-content">
              <div class="smart-city-card-title-container">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Tránsito masivo eficiente</h3>
              </div>
              <div>
                <div class="smart-city-separator"></div>
              </div>
              <div class="smarty-city-preview-description">
                <p class="smart-city-description alianza-font-SourceSansPro-regular">Transporte público de alta capacidad es crítico para una ciudad creciente...</p>
              </div>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smarty-city-full-description">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Espacios seguros y agradables</h3>
              <div class="smart-city-white-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">
                Sentirse seguro es uno de los derechos irrenunciables de cualquier ciudadano. Cuando la población crece y las ciudades dan frente a retos como impacto ambiental y actividad criminal es aún más importante trabajar para ofrecer a los ciudadanos un lugar seguro en donde vivir. Con soluciones de video vigilancia y alumbrado público inteligente las ciudades pueden empezar a enfrentar estos retos de la mejor manera.
              </p>
            </div>
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-chair" src="img/homepage/smart-city-chair.png">
            </div>
            <div class="smarty-city-card-content">
              <div class="smart-city-card-title-container">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Espacios seguros y agradables</h3>
              </div>
              <div class="smart-city-separator"></div>
              <div class="smarty-city-preview-description">
                <p class="smart-city-description alianza-font-SourceSansPro-regular">Sentirse seguro es uno de los derechos irrenunciables de cualquier ciudadano...</p>
              </div>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smarty-city-full-description">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Energía sustentable</h3>
              <div class="smart-city-white-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">
                Cada año nuestras demandas del planeta superan su capacidad de regeneración; la población mundial consume actualmente el equivalente a 1.6 planetas por año. Necesitamos lograr más con menos recursos, con edificios inteligentes para una mayor eficiencia energética y con más fuentes de energía renovables para reducir el impacto ambiental.
              </p>
            </div>
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-sustainable" src="img/homepage/smart-city-sustainable.png">
            </div>
            <div class="smarty-city-card-content">
              <div class="smart-city-card-title-container">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Energía sustentable</h3>
              </div>
              <div class="smart-city-separator"></div>
              <div class="smarty-city-preview-description">
                <p class="smart-city-description alianza-font-SourceSansPro-regular">Cada año nuestras demandas del planeta superan su capacidad de regeneración...</p>
              </div>
            </div>
          </div>

          <div class="smarty-city-card">
            <div class="smarty-city-full-description">
              <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title smart-city-card-title-modifier">Área peatonal segura</h3>
              <div class="smart-city-white-separator"></div>
              <p class="smart-city-description alianza-font-SourceSansPro-regular">
                Para crear áreas peatonales atractivas es importante reducir la delincuencia, mejorar los tiempos de respuesta, y gestionar el impacto de las extremas condiciones climatológicas. Para ello servirá un sistema de respuesta en emergencias integrado por Internet de las Cosas (IoT) que lo hace rápido y eficiente. Para la seguridad en las calles, los parques y demás espacios públicos, el alumbrado inteligente es una solución muy importante.
              </p>
            </div>
            <div class="smart-city-banner">
              <img class="smart-city-banner-img-pedestrian" src="img/homepage/smart-city-pedestrian.png">
            </div>
            <div class="smarty-city-card-content">
              <div class="smart-city-card-title-container">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Área peatonal segura</h3>
              </div>
              <div class="smart-city-separator"></div>
              <div class="smarty-city-preview-description">
                <p class="smart-city-description alianza-font-SourceSansPro-regular">Para crear áreas peatonales atractivas es importante asegurar la seguridad pública es importante reducir la delincuencia...</p>
              </div>
            </div>
          </div>

        </div>

        <!-- Mobile version -->
        <div class="smart-city-card-carousel-container">
          <div class="homepage-carousel-two owl-carousel">

            <div class="smarty-city-card">
              <div class="smarty-city-full-description">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Tránsito<br>masivo eficiente</h3>
                <div class="smart-city-white-separator"></div>
                <p class="smart-city-description alianza-font-SourceSansPro-regular">
                  Transporte público de alta capacidad es crítico para una ciudad creciente. Lo ideal es un sistema de transporte público integrado, que da seguridad y es tanto cómodo como eficiente. Se trata de reemplazar vehículos anticuados por autobuses de bajas emisiones junto con una nueva infraestructura que incluye paraderos funcionales, pago electrónico/móvil, video vigilancia, conectividad e información al pasajero.
                </p>
              </div>
              <div class="smart-city-banner">
                <img class="smart-city-banner-img-bus" src="img/backgrounds/movilidad-urbana-cover.png">
              </div>
              <div class="smarty-city-card-content">
                <div class="smart-city-card-title-container">
                  <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Tránsito masivo eficiente</h3>
                </div>
                <div>
                  <div class="smart-city-separator"></div>
                </div>
                <div class="smarty-city-preview-description">
                  <p class="smart-city-description alianza-font-SourceSansPro-regular">Transporte público de alta capacidad es crítico para una ciudad creciente...</p>
                </div>
              </div>
            </div>

            <div class="smarty-city-card">
              <div class="smarty-city-full-description">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Espacios seguros y agradables</h3>
                <div class="smart-city-white-separator"></div>
                <p class="smart-city-description alianza-font-SourceSansPro-regular">
                  Sentirse seguro es uno de los derechos irrenunciables de cualquier ciudadano. Cuando la población crece y las ciudades dan frente a retos como impacto ambiental y actividad criminal es aún más importante trabajar para ofrecer a los ciudadanos un lugar seguro en donde vivir. Con soluciones de video vigilancia y alumbrado público inteligente las ciudades pueden empezar a enfrentar estos retos de la mejor manera.
                </p>
              </div>
              <div class="smart-city-banner">
                <img class="smart-city-banner-img-chair" src="img/homepage/smart-city-chair.png">
              </div>
              <div class="smarty-city-card-content">
                <div class="smart-city-card-title-container">
                  <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Espacios seguros y agradables</h3>
                </div>
                <div class="smart-city-separator"></div>
                <div class="smarty-city-preview-description">
                  <p class="smart-city-description alianza-font-SourceSansPro-regular">Sentirse seguro es uno de los derechos irrenunciables de cualquier ciudadano...</p>
                </div>
              </div>
            </div>

            <div class="smarty-city-card">
              <div class="smarty-city-full-description">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title">Energía sustentable</h3>
                <div class="smart-city-white-separator"></div>
                <p class="smart-city-description alianza-font-SourceSansPro-regular">
                  Cada año nuestras demandas del planeta superan su capacidad de regeneración; la población mundial consume actualmente el equivalente a 1.6 planetas por año. Necesitamos lograr más con menos recursos, con edificios inteligentes para una mayor eficiencia energética y con más fuentes de energía renovables para reducir el impacto ambiental.
                </p>
              </div>
              <div class="smart-city-banner">
                <img class="smart-city-banner-img-sustainable" src="img/homepage/smart-city-sustainable.png">
              </div>
              <div class="smarty-city-card-content">
                <div class="smart-city-card-title-container">
                  <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Energía sustentable</h3>
                </div>
                <div class="smart-city-separator"></div>
                <div class="smarty-city-preview-description">
                  <p class="smart-city-description alianza-font-SourceSansPro-regular">Cada año nuestras demandas del planeta superan su capacidad de regeneración...</p>
                </div>
              </div>
            </div>

            <div class="smarty-city-card">
              <div class="smarty-city-full-description">
                <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold no-margin-text smart-city-card-hover-title smart-city-card-title-modifier">Área peatonal segura</h3>
                <div class="smart-city-white-separator"></div>
                <p class="smart-city-description alianza-font-SourceSansPro-regular">
                  Para crear áreas peatonales atractivas es importante reducir la delincuencia, mejorar los tiempos de respuesta, y gestionar el impacto de las extremas condiciones climatológicas. Para ello servirá un sistema de respuesta en emergencias integrado por Internet de las Cosas (IoT) que lo hace rápido y eficiente. Para la seguridad en las calles, los parques y demás espacios públicos, el alumbrado inteligente es una solución muy importante.
                </p>
              </div>
              <div class="smart-city-banner">
                <img class="smart-city-banner-img-pedestrian" src="img/homepage/smart-city-pedestrian.png">
              </div>
              <div class="smarty-city-card-content">
                <div class="smart-city-card-title-container">
                  <h3 class="smart-city-card-title alianza-font-SourceSansPro-bold">Área peatonal segura</h3>
                </div>
                <div class="smart-city-separator"></div>
                <div class="smarty-city-preview-description">
                  <p class="smart-city-description alianza-font-SourceSansPro-regular">Para crear áreas peatonales atractivas es importante asegurar la seguridad pública es importante reducir la delincuencia...</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /End Mobile version -->

      </div>
    </div>
  </div>
{% endblock %}