{% extends "partials/base.njk" %}

{% block meta %}
  <title>Movilidad Urbana</title>
{% endblock %}

{% block content %}
  <div>
    <div class="movilidad-cover"></div>

    <div class="movilidad-first-section">
      <div class="movilidad-first-section-yellow-panel"></div>
      <div class="movilidad-first-section-content">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Movilidad Urbana</h1>
        <div class="movilidad-first-description-container">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            El Bus Rapid Transit ya es un modo consolidado en varias ciudades mexicanas. Sin embargo, la mejora e integración de los demás servicios de transporte público queda aún pendiente por ser una problemática más compleja. Por ejemplo, en la Zona Metropolitana del Valle de México los BRTs mueven 2 millones de pasajeros al día pero los demás servicios mueven hasta 12 millones de pasajeros, constituyendo el modo más importante pero también el más desorganizado. Numerosas rutas, redundancia, obsolescencia y un modelo de negocio inadecuado han dificultado una solución a los servicios de autobuses como sistemas completos.
          </p>
        </div>
      </div>
    </div>

    <div class="movilidad-second-section">
      <div class="movilidad-panel-image-container">
        <img class="movilidad-panel-image-container" src="img/movilidad-urbana/movilidad-urbana-panel.jpg">
      </div>
      <div class="movilidad-panel-background-img"></div>
      <div class="movilidad-second-section-text-container">
        <div class="movilidad-second-section-title-container">
          <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text">Definición de la solución</h1>
        </div>
        <div class="" style="margin-bottom: 30px;">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            Un transporte público integrado es el ideal para una ciudad, pero como solución suena abstracta y a veces demasiado compleja. <span class="alianza-font-SourceSansPro-bold">Volvo</span> y los asociados de SweMex han desarrollado un marco pragmático de intervención y un modelo de negocio innovador que permite reemplazar la flota de zonas o ciudades completas con autobuses de bajas emisiones (incluso eléctricos junto con su infraestructura), paraderos funcionales, pago electrónico, videovigilancia, conectividad e información al pasajero.
          </p>
        </div>
        <div class="">
          <p class="movilidad-section-description alianza-font-SourceSansPro-regular no-margin-text">
            A partir de un estudio de  los patrones reales de viajes en transporte público, SweMex proporciona un diseño optimizado de los servicios de transporte en autobús y desarrolla un caso de negocio para hacer el proyecto una realidad. En coordinación con la autoridad de transporte y los empresarios del transporte, SweMex entrega una solución completa garantizando tanto las inversiones como la operación y el mantenimiento de los activos involucrados utilizando un mismo vehículo empresarial y financiero.
          </p>
        </div>
        <div class="movilidad-second-section-separator"></div>
      </div>
    </div>

    <div class="movilidad-third-section">
      <div class="movilidad-third-section-title-container">
        <h1 class="movilidad-sections-title alianza-font-SourceSansPro-semi-bold no-margin-text" style="text-align: center;">Transformación del transporte público</h1>
      </div>
      <div class="public-transport-card-container">
        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-1" src="img/movilidad-urbana/icon-routes-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Rutas eficientes</h3>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-2" src="img/movilidad-urbana/icon-wifi-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Conectividad</h3>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-3" src="img/movilidad-urbana/icon-camera-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Videovigilancia</h3>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-4" src="img/movilidad-urbana/icon-mobile-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Pago electrónico</h3>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-5" src="img/movilidad-urbana/icon-parabuses-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Parabuses conectados</h3>
            </div>
          </div>
        </div>

        <div class="public-transport-card-content">
          <div class="public-transport-card-icon-container">
            <img class="public-transport-card-icon public-icon-6" src="img/movilidad-urbana/icon-ecology-card.png">
          </div>
          <div class="public-transport-card-title-container">
            <div class="public-transport-card-text-container">
              <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Autobuses de<br>bajas emisiones</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="public-transport-card-carousel">
        <div class="urban-mobility-carousel owl-carousel">
          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-1" src="img/movilidad-urbana/icon-routes-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Rutas eficientes</h3>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-2" src="img/movilidad-urbana/icon-wifi-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Conectividad</h3>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-3" src="img/movilidad-urbana/icon-camera-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Videovigilancia</h3>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-4" src="img/movilidad-urbana/icon-mobile-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Pago electrónico</h3>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-5" src="img/movilidad-urbana/icon-parabuses-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Parabuses conectados</h3>
              </div>
            </div>
          </div>

          <div class="public-transport-card-content">
            <div class="public-transport-card-icon-container">
              <img class="public-transport-card-icon public-icon-6" src="img/movilidad-urbana/icon-ecology-card.png">
            </div>
            <div class="public-transport-card-title-container">
              <div class="public-transport-card-text-container">
                <h3 class="public-transport-card-text alianza-font-SourceSansPro-semi-bold no-margin-text">Autobuses de<br>bajas emisiones</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /End Mobile version -->

      <div class="movilidad-third-section-bottom-bg"></div>
    </div>
  </div>
{% endblock %}