{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="soluciones-wrapper">

    <div class="soluciones-panel-left">
      <img class="panel-left-img" src="img/soluciones/soluciones-street-lighting.png">
    </div>

    <div class="soluciones-top-title-container">
      <h1 class="soluciones-top-title alianza-font-SourceSansPro-semi-bold no-margin-text">Soluciones</h1>
    </div>

    <div class="soluciones-floating-card">
      <div class="floating-card-sections">
        <div class="floating-card-icon-container-mobile">
          <img class="floating-card-icon" src="img/soluciones/soluciones-icon-1.png">
        </div>
        <div class="section-title-container">
          <div class="text-decorator-container">
            <div class="text-decorator decoration-green soluciones-text-decorator-modifier"></div>
            <div>
              <h2 class="card-view-more-title alianza-font-SourceSansPro-semi-bold floating-card-section-title">Movilidad urbana</h2>
            </div>
          </div>
          <a href="movilidad-urbana.html">
            <button class="card-view-more-button alianza-font-SourceSansPro-regular soluciones-view-more-button-modifier">Ver más</button>
          </a>
        </div>
        <div class="floating-card-icon-decoration">
          <div class="floating-card-decoration decoration-green">
            <div class="floating-card-icon-container">
              <img class="floating-card-icon" src="img/soluciones/soluciones-icon-1.png">
            </div>
          </div>
        </div>
      </div>

      <div class="floating-card-sections">
        <div class="floating-card-icon-container-mobile">
          <img class="floating-card-icon" src="img/soluciones/soluciones-icon-2.png">
        </div>
        <div class="section-title-container">
          <div class="text-decorator-container">
            <div class="text-decorator decoration-blue soluciones-text-decorator-modifier"></div>
            <div>
              <h2 class="card-view-more-title alianza-font-SourceSansPro-semi-bold floating-card-section-title">Energía sustentable<br>y urbana</h2>
            </div>
          </div>
          <a href="energia-sustentable.html">
            <button class="card-view-more-button alianza-font-SourceSansPro-regular soluciones-view-more-button-modifier">Ver más</button>
          </a>
        </div>
        <div class="floating-card-icon-decoration">
          <div class="floating-card-decoration decoration-blue">
            <div class="floating-card-icon-container">
              <img class="floating-card-icon" src="img/soluciones/soluciones-icon-2.png">
            </div>
          </div>
        </div>
      </div>

       <div class="floating-card-sections">
        <div class="floating-card-icon-container-mobile">
          <img class="floating-card-icon" src="img/soluciones/soluciones-icon-3.png">
        </div>
        <div class="section-title-container">
          <div class="text-decorator-container">
            <div class="text-decorator decoration-yellow soluciones-text-decorator-modifier"></div>
            <div>
              <h2 class="card-view-more-title alianza-font-SourceSansPro-semi-bold floating-card-section-title">Alumbrado inteligente</h2>
            </div>
          </div>
          <button class="card-view-more-button alianza-font-SourceSansPro-regular soluciones-view-more-button-modifier">Ver más</button>
        </div>
        <div class="floating-card-icon-decoration">
          <div class="floating-card-decoration decoration-yellow">
            <div class="floating-card-icon-container">
              <img class="floating-card-icon" src="img/soluciones/soluciones-icon-3.png">
            </div>
          </div>
        </div>
      </div>

      <div class="floating-card-sections">
        <div class="floating-card-icon-container-mobile">
          <img class="floating-card-icon" src="img/soluciones/soluciones-icon-4.png">
        </div>
        <div class="section-title-container">
          <div class="text-decorator-container">
            <div class="text-decorator decoration-gray soluciones-text-decorator-modifier"></div>
            <div>
              <h2 class="card-view-more-title alianza-font-SourceSansPro-semi-bold floating-card-section-title">Ciudades seguras</h2>
            </div>
          </div>
          <a href="ciudades-seguras.html">
            <button class="card-view-more-button alianza-font-SourceSansPro-regular soluciones-view-more-button-modifier">Ver más</button>
          </a>
        </div>
        <div class="floating-card-icon-decoration">
          <div class="floating-card-decoration decoration-gray">
            <div class="floating-card-icon-container">
              <img class="floating-card-icon" src="img/soluciones/soluciones-icon-4.png">
            </div>
          </div>
        </div>
      </div>

      <div class="floating-card-sections">
        <div class="floating-card-icon-container-mobile">
          <img class="floating-card-icon" src="img/soluciones/soluciones-icon-5.png">
        </div>
        <div class="section-title-container">
          <div class="text-decorator-container">
            <div class="text-decorator decoration-green soluciones-text-decorator-modifier"></div>
            <div>
              <h2 class="card-view-more-title alianza-font-SourceSansPro-semi-bold floating-card-section-title">Espacios inteligentes</h2>
            </div>
          </div>
          <button class="card-view-more-button alianza-font-SourceSansPro-regular soluciones-view-more-button-modifier">Ver más</button>
        </div>
        <div class="floating-card-icon-decoration">
          <div class="floating-card-decoration decoration-green">
            <div class="floating-card-icon-container">
              <img class="floating-card-icon" src="img/soluciones/soluciones-icon-5.png">
            </div>
          </div>
        </div>
      </div>      
    </div>

  </div>
{% endblock %}