<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://blicklabs.github.io/project-alianza/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Alianza SweMex" />
    <meta property="og:description" content="Higia Technologies is a Mexican biosensors company devoted to boosting women's quality of life by attaining a professionalization of the self exploration method for the early and effective detection of breast cancer." />
    <meta property="og:image" content="https://blicklabs.github.io/project-alianza/img/backgrounds/homepage-alianza-cover.jpg" />
    <meta name="keywords" content="Urbanización, inteligente, Smart Cities, Ciudad inteligente, Street lightning, alumbrado público, movilidad, sistema, tráfico, pagos, modelos de negocio, energía, sustentable">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="40x32" href="img/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon.png">
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %} Alianza SweMex </title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
