<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://alianzaswemex.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Alianza SweMex" />
    <meta property="og:description" content="Urbanización inteligente y segura" />
    <meta property="og:image" content="http://alianzaswemex.com/img/backgrounds/homepage-cover.jpg" />
    <meta name="keywords" content="Urbanización, inteligente, Smart Cities, Ciudad inteligente, Street lightning, alumbrado público, movilidad, sistema, tráfico, pagos, modelos de negocio, energía, sustentable">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link runat="server" rel="shortcut icon" href="img/favicons/favicon-blue.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicons/favicon-blue.png" type="image/ico"/>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %} Alianza SweMex </title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://alianzaswemex.com/",
      "name": "Alianza SweMex",
      "description": "Cuando busco en Google la descripción debe ser: “Hoy en día las ciudades demandan soluciones complejas e integradas en materia de movilidad, energía, telecomunicaciones y seguridad, entre otras, para desarrollar hacia ciudades inteligentes. Esa demanda crecerá aún más en los siguientes años. Para el desarrollo de proyectos innovadores dentro de esta área, las empresas de origen sueco Volvo Buses, Ericsson, ABB y Axis Communications, con la facilitación del Consejo Sueco de Comercio e Inversión, Business Sweden, han formado un grupo de colaboración denominado SweMex.",
    }
    </script>
  </body>
</html>
