<footer class="site-footer">
  <div class="footer-content">
    <a href="/index.html">
      <img class="footer-logo" src="img/logos/alianza-logo-white.png">
    </a>
    <div class="footer-separator"></div>
    <div class="footer-links-container">
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'index' %} active-link {% endif %} " href="index.html">Inicio</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'soluciones' %} active-link {% endif %} {% if section == 'movilidad-urbana' %} active-link {% endif %} {% if section == 'energia-sustentable' %} active-link {% endif %} {% if section == 'ciudades-seguras' %} active-link {% endif %} {% if section == 'alumbrado-inteligente' %} active-link {% endif %} {% if section == 'espacios-inteligentes' %} active-link {% endif %}" href="soluciones.html">Soluciones</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'acerca-de-nosotros' %} active-link {% endif %}"  href="acerca-de-nosotros.html">Acerca de nosotros</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular" href="http://blog.alianza-swemex.getmore.mx/">Noticias</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'contacto' %} active-link {% endif %}" href="contacto.html">Contacto</a>
    </div>
    <img class="footer-logo-business" src="img/logos/business-sweden-icon.png">
    <p class="footer-copyright alianza-font-SourceSansPro-regular">© Copyright, Alianza SweMex</p>
  </div>
</footer>
