<footer class="site-footer">
  <div class="footer-content">
    <a href="/index.html">
      <img class="footer-logo" src="img/logos/alianza-logo-white.png">
    </a>
    <div class="footer-separator"></div>
    <div class="footer-links-container">
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'index' %} active-link {% endif %} " href="">Inicio</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular {% if section == 'soluciones' %} active-link {% endif %}" href="">Soluciones</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular" href="">Acerca de nosotros</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular" href="">Noticias</a>
      <div class="footer-link-separator"></div>
      <a class="footer-link-text alianza-font-SourceSansPro-regular" href="">Contacto</a>
    </div>
    <img class="footer-logo-business" src="img/logos/business-sweden-icon.png">
    <p class="footer-copyright alianza-font-SourceSansPro-regular">© Copyright, Alianza SWE - MX</p>
  </div>
</footer>
