.site-footer
  background url("../img/backgrounds/footer-img.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  bottom 0
  position absolute
  width 100%

.footer-content
  align-items center
  display flex
  flex-direction column
  height 430px
  justify-content center

.footer-logo
  height 140px
  width auto

.footer-separator
  background-color #fff
  height 2px
  margin 31px 0 25px 0
  width 487px

.footer-links-container
  align-items center
  display flex
  flex-direction row
  
.footer-link-text
  color #fff
  font-size remify(13px)
  margin 0
  
  &:hover
    color #ffcc00
    font-weight 700

.footer-link-separator
  background-color #fff
  height 20px
  margin 0 15px
  width 2px
  
.footer-logo-business
  height 42px
  margin 20px 0
  width auto

.footer-copyright
  color #fff
  font-size remify(12px)
  margin 0
  
.active-link
  color #ffcc00
  font-weight 700

@media screen and (max-width 876px)
  .footer-link-text
    font-size remify(16px)

  .footer-copyright
    font-size remify(14px)
