@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
    url('../fonts/SourceSansPro-ExtraLight.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-ExtraLight.svg#Roboto-Light') format('svg');
  font-weight: $extralight;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
    url('../fonts/SourceSansPro-ExtraLightItalic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-ExtraLightItalic.svg#Roboto-Light') format('svg');
  font-weight: $extralight;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Light.woff') format('woff'),
    url('../fonts/SourceSansPro-Light.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-Light.svg#Roboto-Light') format('svg');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-LightItalic.woff') format('woff'),
    url('../fonts/SourceSansPro-LightItalic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-LightItalic.svg#Roboto-Light') format('svg');
  font-weight: $light;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-Regular.svg#Roboto-Light') format('svg');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Italic.woff') format('woff'),
    url('../fonts/SourceSansPro-Italic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-Italic.svg#Roboto-Light') format('svg');
  font-weight: $regular;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('../fonts/SourceSansPro-SemiBold.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-SemiBold.svg#Roboto-Light') format('svg');
  font-weight: $semibold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
    url('../fonts/SourceSansPro-SemiBoldItalic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-SemiBoldItalic.svg#Roboto-Light') format('svg');
  font-weight: $semibold;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro-Bold.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-Bold.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-BoldItalic.woff') format('woff'),
    url('../fonts/SourceSansPro-BoldItalic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-BoldItalic.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Black.woff') format('woff'),
    url('../fonts/SourceSansPro-Black.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-Black.svg#Roboto-Light') format('svg');
  font-weight: $black;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-BlackItalic.woff') format('woff'),
    url('../fonts/SourceSansPro-BlackItalic.ttf')  format('truetype'),
    url('../fonts/SourceSansPro-BlackItalic.svg#Roboto-Light') format('svg');
  font-weight: $black;
  font-style: italic;
}



.alianza-font-SourceSansPro-extra-light
  font-family 'SourceSansPro'
  font-weight $extralight
  font-style normal
  
.alianza-font-SourceSansPro-extra-light-italic
  font-family 'SourceSansPro'
  font-weight $extralight
  font-style italic
  
.alianza-font-SourceSansPro-light
  font-family 'SourceSansPro'
  font-weight $light
  font-style normal

.alianza-font-SourceSansPro-light-italic
  font-family 'SourceSansPro'
  font-weight $light
  font-style italic

.alianza-font-SourceSansPro-regular
  font-family 'SourceSansPro'
  font-weight $regular
  font-style normal

.alianza-font-SourceSansPro-regular-italic
  font-family 'SourceSansPro'
  font-weight $regular
  font-style italic

.alianza-font-SourceSansPro-semi-bold
  font-family 'SourceSansPro'
  font-weight $semibold
  font-style normal
  
.alianza-font-SourceSansPro-semi-bold-italic
  font-family 'SourceSansPro'
  font-weight $semibold
  font-style italic

.alianza-font-SourceSansPro-bold
  font-family 'SourceSansPro'
  font-weight $bold
  font-style normal

.alianza-font-SourceSansPro-bold-italic
  font-family 'SourceSansPro'
  font-weight $bold
  font-style italic

.alianza-font-SourceSansPro-black
  font-family 'SourceSansPro'
  font-weight $black
  font-style normal

.alianza-font-SourceSansPro-black-italic
  font-family 'SourceSansPro'
  font-weight $black
  font-style italic
